/*  banner
------------------------------------------------------- */

#banner {
  --text-deco-line: none;
  --color-link-background-hover: transparent;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 0 30px 0 40px;
  min-height: 80px;
  background-color: var(--color-purpleviolet);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
}

#banner > a {
  position: relative;
  display: flex;
}

#banner nav {
  align-self: stretch;
  display: flex;
  margin: 0 1px 0 auto;
}

#banner nav::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  opacity: var(--opacity-wrapper-bg, 0);
  width: 100%;
  height: var(--height-wrapper-bg);
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.96);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
  transition-property: opacity, height;
  transition-duration: var(--trans-dur);
}

#banner nav > ul {
  display: flex;
}

#banner nav > ul > li {
  display: flex;
}

#banner nav > ul > li > a {
  --pos-left-bottom-bar: 1rem;
  --width-bottom-bar: calc(100% - 2rem);
  --color-link-static: rgba(255, 255, 255, 0.72);
  --color-link-hover: #fff;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 2rem 0.1rem;
  font-weight: 500;
  font-size: 1.8rem;
}

#banner nav > ul > li:is(:hover, :focus-within, .active) > a:not(:only-child) {
  color: var(--color-link-hover);
}

#banner nav > ul > li > a[aria-current] {
  color: var(--color-link-hover);
}

#banner nav > ul > li > a:not(:only-child)::before,
#banner nav ~ a::before,
:is(#banner, #search-widget) > button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: var(--pos-left-bottom-bar, 0);
  opacity: 0;
  width: var(--width-bottom-bar, 100%);
  border-top: 5px solid #fff;
  transition-property: opacity;
  transition-duration: var(--trans-dur);
}

#banner nav ~ a:is(:hover, :focus)::before,
:is(#banner, #search-widget) > button:is(:hover, :focus)::before {
  opacity: 1;
}

#banner nav > ul > li.active > a:not(:only-child)::before {
  opacity: 1;
}

#banner nav li > .wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  justify-content: flex-end;
  column-gap: var(--width-gutter);
  opacity: 0;
  padding: 30px var(--padding-inline-center-content) 34px;
  width: 100%;
  pointer-events: none;
}

#banner nav li.active > .wrapper {
  z-index: 1;
  opacity: 1;
}

#banner nav .wrapper > figure {
  width: calc((100% - 2 * var(--width-gutter)) / 3);
}

#banner nav .wrapper > figure > figcaption {
  padding: 0 10px 1.5rem;
  color: var(--color-heading);
  font-weight: 400;
  font-size: 2rem;
  border-bottom: 1px solid var(--color-border);
}

#banner nav .wrapper > figure > ul {
  --color-link-static: var(--color-body);
  --color-link-hover: var(--color-purpleviolet);
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, calc((100% - 12px) / 2));
  column-gap: 12px;
  margin-top: 1rem;
}

#banner nav .wrapper > figure > ul > li > a {
  display: block;
  padding: 0.6rem 1rem 1rem;
  font-size: 2rem;
  border-radius: 4px;
}

#banner nav .wrapper > figure > ul > li > a:is(:hover, :focus) {
  background-color: var(--color-whitesmoke);
}

#banner nav li > figure > figcaption {
  position: absolute;
  left: -5000px;
}

#banner nav li > figure > ul {
  display: flex;
  column-gap: 20px;
  padding: 5px 0 0 10px;
}

#banner nav li > figure li > a {
  /* social links */
  display: flex;
  fill: #666;
}

#banner nav li > figure a:is(:hover, :focus) > svg {
  fill: #191919;
}

#banner nav > button {
  /* mobile nav panel opener */
  display: none;
}

#banner nav ~ a,
#banner > button {
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

#search-widget {
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
}

#search-widget > button {
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

#search-popup {
  position: absolute;
  right: -4px;
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  height: 100%;
}

#search-popup.active {
  opacity: 1;
  pointer-events: auto;
}

#search-popup form > input {
  padding: 0 183px 0 19px;
  width: 552px;
  height: 54px;
  color: var(--color-dark);
  font-weight: 400;
  font-size: 2.2rem;
  background-color: #fff;
  border: 1px solid var(--color-border);
  border-radius: 6px;
}

#search-popup form > button {
  position: absolute;
  top: calc(50% - 19px);
  right: 64px;
  padding: 0 10px 1px;
  min-width: 104px;
  height: 38px;
  color: var(--color-grape);
  font-weight: 500;
  font-size: 2rem;
  border: 2px solid;
  border-radius: 36px;
}

#search-popup form > button:is(:hover, :focus) {
  background-color: var(--color-whitesmoke);
}

#search-popup > button {
  position: absolute;
  top: calc(50% - 13px);
  right: 19px;
  display: flex;
  opacity: 0.9;
}

#banner button .num {
  position: absolute;
  left: 32%;
  margin-top: -40px;
  padding: 0.3rem 0.4rem 0.1rem;
  min-width: 26px;
  color: #000;
  font-weight: 500;
  font-size: 10px;
  line-height: 1;
  text-align: center;
  background-color: var(--color-gold);
  border-radius: 20px;
}

#nav-panel {
  display: none;
}

/*  responsive (1024px)
------------------------------------------------------- */

@media (max-width: 1024px) {
  #banner nav .arrow {
    display: none;
  }
}

@media (max-width: 991px) {
  /*  6. banner  */

  #banner {
    padding-right: 20px;
    padding-left: 20px;
  }

  #banner::before {
    content: 'abc';
    position: absolute;
    top: -5000px;
    visibility: hidden;
    font-weight: 500;
  }

  #banner nav {
    align-self: center;
    margin-right: 0;
  }

  #banner nav::before {
    content: none;
  }

  #banner nav > ul {
    display: none;
  }

  #banner nav > button {
    display: flex;
  }

  #banner nav ~ a,
  #banner > button {
    display: none;
  }

  #search-widget {
    display: none;
  }

  #nav-panel {
    --color-link-static: var(--color-heading);
    --color-link-hover: var(--color-heading);
    --text-deco-line: none;
    --color-link-background-hover: transparent;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    display: block;
    padding: 64px 30px 33px;
    width: 300px;
    height: 100%;
    overflow: auto;
    background-color: var(--color-whitesmoke);
    transform: translateX(100%);
    transition-property: transform;
  }

  .active > #nav-panel {
    transform: none;
  }

  #nav-panel > button {
    /* Close */
    position: absolute;
    top: 27px;
    right: 20px;
    display: flex;
    opacity: 0.9;
  }

  #nav-panel > ul {
    margin-bottom: 29px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--color-border);
  }

  #nav-panel > ul > li {
    margin: 0 -30px;
    padding: 0 30px;
  }

  #nav-panel > ul > li.active {
    background-color: #fff;
  }

  #nav-panel > ul > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-weight: 500;
    font-size: 1.8rem;
  }

  #nav-panel > ul > li > a[aria-expanded='true'] {
    color: var(--color-purpleviolet);
    fill: var(--color-purpleviolet);
  }

  #nav-panel a > .icon-chevron-right {
    position: relative;
    top: 0.1rem;
    transition-property: fill, transform;
    transition-duration: 350ms;
  }

  #nav-panel [aria-expanded='true'] > .icon-chevron-right {
    transform: rotate(90deg);
  }

  #nav-panel li > .wrapper {
    --color-link-static: var(--color-body);
    --color-link-hover: var(--color-body);
    font-size: 1.6rem;
    transition-property: height;
    transition-duration: 350ms;
  }

  #nav-panel .wrapper > figure:first-child {
    padding-top: 0.6rem;
  }

  #nav-panel .wrapper > figure + figure {
    padding-top: 1.8rem;
  }

  #nav-panel .wrapper > figure:last-child {
    padding-bottom: 2.9rem;
  }

  #nav-panel .wrapper > figure > figcaption {
    margin-bottom: 1.6rem;
    padding-bottom: 1rem;
    color: var(--color-heading);
    font-weight: 400;
    border-bottom: 1px solid var(--color-border);
  }

  #nav-panel .wrapper > figure > figcaption {
    margin-bottom: 0.9rem;
    padding-bottom: 1rem;
    color: var(--color-heading);
    font-weight: 400;
    border-bottom: 1px solid var(--color-border);
  }

  #nav-panel .wrapper > figure > ul > li > a {
    display: block;
    padding: 0.7rem 0;
  }

  #nav-panel .wrapper .arrow {
    position: relative;
    top: 0.15rem;
  }

  #nav-panel li > figure > figcaption {
    position: absolute;
    left: -5000px;
  }

  #nav-panel li > figure > ul {
    display: flex;
    column-gap: 20px;
    margin-top: 1.3rem;
  }

  #nav-panel li > figure a {
    /* social links */
    display: flex;
    fill: #666;
  }

  #nav-panel > a,
  #search-widget-mobile > button {
    display: flex;
    align-items: center;
    padding: 0.7rem 0;
    width: 100%;
    color: var(--color-heading);
    font-weight: 500;
    font-size: 1.8rem;
  }

  #nav-panel > :is(a, #search-widget-mobile) + a {
    margin-top: 0.6rem;
  }

  :is(#nav-panel > a, #search-widget-mobile > button) > img {
    margin-right: 16px;
  }

  #nav-panel > a > small {
    font-weight: 300;
  }

  #nav-panel > a > small::before {
    content: '\00a0';
  }

  #search-widget-mobile {
    position: relative;
  }

  #search-popup-mobile {
    position: absolute;
    top: -3px;
    left: 0;
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
  }

  #search-popup-mobile.active {
    opacity: 1;
    pointer-events: auto;
  }

  #search-popup-mobile form > input {
    padding: 0 65px 0 17px;
    width: 100%;
    height: 44px;
    color: var(--color-dark);
    font-weight: 500;
    font-size: 1.8rem;
    background-color: #fff;
    border: 1px solid var(--color-border);
    border-radius: 6px;
  }

  #search-popup-mobile form > button {
    position: absolute;
    top: calc(50% - 16px);
    right: 10px;
    padding: 0 10px 1px;
    width: 48px;
    height: 32px;
    color: var(--color-grape);
    font-weight: 500;
    font-size: 2rem;
    border: 2px solid;
    border-radius: 36px;
  }
}
